.mainNot{
}

.contentNot {
    .pageDoesNotExist {

        display: grid;
        text-align:center;
        grid-template: 1fr 2fr 2fr 1fr / 1fr 2fr 1fr;

        .pictureNotExist {

            grid-row: 2 / 3;
            grid-column: 2 / 3;
            & img {
                
                border-radius: 30%;
            }
        }
        .textNotExist {
            grid-row: 3/4;
            grid-column: 2 / 3;

            font-size: 45px;
        }
    }
}
