@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.contentNot .pageDoesNotExist {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-rows: 1fr 2fr 2fr 1fr;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template: 1fr 2fr 2fr 1fr/1fr 2fr 1fr;
}
.contentNot .pageDoesNotExist .pictureNotExist {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.contentNot .pageDoesNotExist .pictureNotExist img {
  border-radius: 30%;
}
.contentNot .pageDoesNotExist .textNotExist {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 45px;
}

.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__line {
  background-color: rgb(27, 27, 94);
  height: 20px;
  min-width: 100%;
}
.header__functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo img {
  width: 100%;
  height: 50px;
}
.header__title {
  color: rgb(27, 27, 94);
  font-size: 30px;
  font-weight: 700;
}
.header__menu {
  background-color: rgba(0, 136, 255, 0.5);
}
.header__menu_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__menu_body a {
  font-size: 18px;
  line-height: 50px;
  color: rgb(27, 27, 94);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main__pic {
  text-align: center;
  background-color: rgba(4, 5, 54, 0.82);
}
.main__pic img {
  max-width: 100%;
  width: 1920px;
}
@media (max-width: 992px) {
  .main .content .container .about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main .content .container {
  max-width: 1500px;
  margin: 0 auto;
}
.main .content .container .about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .content .container .about__item {
  margin: 2% 0;
  padding: 1%;
  max-width: 700px;
  border-radius: 15px;
  border: 2px solid rgba(4, 5, 54, 0.82);
}
.main .content .container .about__item_title {
  padding: 1% 0;
  color: rgb(27, 27, 94);
  font-size: 26px;
  font-weight: 700;
}
.main .content .container .about__item_text {
  color: grey;
  font-size: 18px;
}

.footer__body {
  background-color: rgb(27, 27, 94);
}
.footer__body_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__body_about a {
  font-size: 18px;
  line-height: 50px;
  color: white;
}