@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
img {
  width: 100px;
  height: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: white;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #141414;
}

.containerWidht {
  padding: 0 40px 0px 40px;
}

.headerfirst {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.headerfirst__logo_img {
  width: 70px;
  height: 70px;
}
.headerfirst__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerfirst__contact_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerfirst__contact__schedule {
  padding: 0px 30px;
}
.headerfirst__contact__schedule_row {
  padding: 2px 0px;
  font-size: 16px;
}
.headerfirst__contact_button {
  all: unset;
  cursor: pointer;
  padding: 0px 20px;
  background-color: #ff8c05;
  text-align: center;
  height: 40px;
  width: 130px;
  border-radius: 6%;
  font-weight: 700;
}

.headerfirst::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: white;
}

.telega-inst-img {
  width: 15px;
  height: 15px;
}

.telega-inst-img-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.row1 {
  font-weight: lighter;
}

.row2 {
  font-weight: 700;
  color: #ff8c05;
}

.orange-col-tran {
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}
.orange-col-tran:hover {
  color: #ff8c05;
}

.headersecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headersecond__row {
  padding: 0 70px 0 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.headersecond__row {
  position: relative;
}
.headersecond__row .menuCheck {
  display: none;
  cursor: default;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -20px;
  background-color: #2d2b2b;
  margin: -10px 0 0 0;
  padding: 20px 15px 0px 15px;
  border: 1px solid rgb(49, 48, 48);
}
.headersecond__row .menuCheck li {
  color: white;
  font-size: 14px;
  margin: 0 0px 20px 0;
}
.headersecond__row:hover .menuCheck {
  display: block;
}

.all-slider {
  margin: -20px 0px 20px 0;
}

#slider {
  /*положение слайдера*/
  position: relative;
  text-align: center;
  top: 10px;
}

#slides {
  /*центровка слайдера*/
  margin: 0 auto;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slides article {
  /*все изображения справа друг от друга*/
  width: 50%;
  max-height: 480px;
}

#slides .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 200%;
  line-height: 0;
  text-align: center;
}

#overflow {
  /*скрывает все, что находится за пределами этого блока*/
  width: 100%;
  max-height: 480px;
  overflow: hidden;
}

article img {
  /*размер изображений слайдера*/
  width: 100%;
  height: 100%;
}

#desktop:checked ~ #slider {
  /*размер всего слайдера*/
  max-width: 100%;
  /*максимальнная длинна*/
}

label,
a {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.all-slider input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

#switch1:checked ~ #slides .image {
  margin-left: 0;
}

#switch2:checked ~ #slides .image {
  margin-left: -100%;
}

#controls {
  /*положение блока всех управляющих элементов*/
  margin: -25% 0 0 0;
  width: 100%;
}

#active label {
  /*стиль отдельного переключателя*/
  border-radius: 10px;
  /*скругление углов*/
  display: inline-block;
  /*расположение в строку*/
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border: 2px solid white;
}

#active {
  /*расположение блока с переключателями*/
  margin: 23% 0 0;
  text-align: center;
}

#active label:hover {
  /*поведение чекбокса при наведении*/
  background: #ffffff;
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2) {
  background: #ffffff;
}

#slides .image {
  /*анимация пролистывания изображений*/
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  /*прозрачность стрелок при наведении*/
  opacity: 0.6;
}

#controls label {
  /*прозрачность стрелок при отводе курсора*/
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.containerMain {
  max-width: 1270px;
  margin: 0 auto;
  padding: 75px 4% 0 4%;
}

.menu-title-main {
  font-size: 47px;
  font-weight: 600;
  padding: 0 0 20px 0;
}

.orange {
  color: #ff8c05;
}

.menu-title-choice {
  font-size: 20px;
  font-weight: 600;
}

.choice_food {
  padding: 20px 0 100px 30px;
  display: -ms-grid;
  display: grid;
  justify-items: left;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 3fr;
      grid-template: 1fr/minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 3fr;
}
.choice_food__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px;
  -ms-grid-columns: 1fr;
      grid-template: 1fr 10px/1fr;
  justify-items: center;
}

.title-content {
  font-size: 26px;
  font-weight: 600;
}

.kebab {
  padding: 0 0 100px 0;
}

.kebab_grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 40px;
}
.kebab_grid__row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 50px minmax(50px, auto) 1fr 40px 50px;
  -ms-grid-columns: 1fr;
      grid-template: auto 50px minmax(50px, auto) 1fr 40px 50px/1fr;
}

.menu-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 220px;
  padding: 20px 0 0 0;
}

.lanch-box {
  -o-object-fit: cover;
     object-fit: cover;
  width: 180px;
  height: 250px;
  padding: 20px 0;
  position: relative;
  left: 25px;
}

.menu-title {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0 15px 0;
  color: #ff8c05;
}

.menu-dedescription {
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 0 15px 0;
}

.menu-price {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 30px 0;
}

.menu-description-selected {
  padding: 0 0 10px 0;
}

.menu-button {
  border-radius: 8px;
  width: 130px;
  height: 40px;
  background-color: #ff8c05;
  color: white;
}

.drinkables {
  padding: 0 0 100px 0;
}

.drinkables_grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}
.drinkables_grid__row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: 4fr 50px minmax(50px, auto) 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 4fr 50px minmax(50px, auto) 1fr/1fr;
}

.menu-image-dr {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 70%;
  min-height: 100%;
  padding: 20px 0 0 0;
}

.hotdrink {
  padding: 0 0 100px 0;
}

.hotdrink_grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}
.hotdrink_grid__row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: 4fr 50px minmax(50px, auto) 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 4fr 50px minmax(50px, auto) 1fr/1fr;
}

.content__about {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 50px 0;
}

.content__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 50px 0;
}
.content__company_row {
  max-width: 300px;
  margin: 0 auto;
  color: gray;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 70px;
  background-color: black;
  color: grey;
}

.madeby-icon {
  width: 50px;
  height: 50px;
  background-image: url("img/brain.png");
  background-size: cover;
}

.footer:hover {
  color: white;
}