html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.flex div{
  display: flex;
}

.first-div {
  flex-direction: row;
}

.second-div {
  flex-direction: column-reverse;
}

.third-div {
  flex: auto;
}

.big-div {
  flex-direction: row-reverse;
}

.medium-div {
  flex-direction: column;
}